<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="start nav-item">
            <a href="#/dashboard" class="nav-link">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/expert" class="nav-link">
                <i class="icon-user"></i>
                <span class="title">Expert Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/brand" class="nav-link">
                <i class="fa fa-shopping-cart"></i>
                <span class="title">Brand Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-check"></i>
                <span class="title">Content Management</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/content/article">
                        <i class="icon-notebook"></i> Article</span>
                    </a>
                </li>
                <li>
                    <a href="#/content/articlejson">
                        <i class="icon-notebook"></i> Article from JSON</span>
                    </a>
                </li>
                <li>
                    <a href="#/content/image">
                        <i class="icon-picture"></i> Image</span>
                    </a>
                </li>
                <li>
                    <a href="#/content/imagejson">
                        <i class="icon-picture"></i> Image from JSON</span>
                    </a>
                </li>
                <li>
                    <a href="#/content/product">
                        <i class="icon-globe"></i> Product</span>
                    </a>
                </li>
                <li>
                    <a href="#/content/curated">
                        <i class="fa fa-star"></i> Curated Product</span>
                    </a>
                </li>
                <li>
                    <a href="#/content/conversation">
                        <i class="icon-briefcase"></i> Conversation</span>
                    </a>
                </li>
                <li>
                    <a href="#/content/bulk">
                        <i class="fa fa-scissors"></i> Bulk</span>
                    </a>
                </li>
            </ul>

        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
