            <div class="todo-content">
                <div class="portlet light">
                    <!-- PROJECT HEAD -->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green hide"></i>
                            <span class="caption-helper">Manage:</span> &nbsp;
                            <span class="caption-subject font-green bold uppercase">Articles</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn green btn-circle btn-sm" href="#" data-toggle="dropdown" dropdown-menu-hover data-close-others="true"> MANAGE
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#">
                                            <i class="i"></i> New Task </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#"> Pending
                                            <span class="badge badge-danger"> 4 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> Completed
                                            <span class="badge badge-success"> 12 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> Overdue
                                            <span class="badge badge-warning"> 9 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#">
                                            <i class="i"></i> Delete Project </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end PROJECT HEAD -->
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-4">
                                <div style="min-height: 600px;">
                                    <div class="todo-tasklist">
                                        <div ng-repeat="article in articles">
                                            <div class="todo-tasklist-item todo-tasklist-item-border-green" ng-click="changeCurrentArticle($index)">
                                                <div class="todo-tasklist-item-title"> {{::article.title}} </div>
                                                <div class="todo-tasklist-item-text"> {{::article.description}} </div>
                                                <div class="todo-tasklist-controls pull-left">
                                                    <span class="todo-tasklist-date">
                                                        <i class="fa fa-thumbs-o-up"></i> {{::article.likes.length}} </span>
                                                    <span class="todo-tasklist-badge badge badge-roundless">{{::article.author}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="todo-tasklist-devider"> </div>
                            <div class="portlet portlet-light col-md-7 col-sm-8">
                                <div style="min-height: 600px;">
                                    <form action="#" class="form-horizontal">
                                        <!-- TASK HEAD -->
                                        <div class="form">
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="todo-taskbody-user">

                                                        <span class="todo-username pull-left">Author: {{ currentArticle.author }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END TASK HEAD -->
                                            <!-- TASK TITLE -->
                                            <div>
                                                <div class="form-group">
                                                    <div class="todo-tasklist-item-title col-md-12">Title:</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Task Title..." ng-model="currentArticle.title">
                                                    </div>
                                                </div>
                                                <!-- TASK DESC -->
                                                <div class="form-group">
                                                    <div class="todo-tasklist-item-title col-md-12">Content:
                                                        <button type="button" class="btn btn-circle btn-xs" ng-class="isEditActive ? 'green' : 'btn-default'" ng-click="toggleEdit()">&nbsp;{{editButtonText}}&nbsp;</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <textarea class="form-control todo-taskbody-taskdesc" ng-model="currentArticle.content" ng-if="isEditActive" rows="8" placeholder="Task Description..."></textarea>
                                                        <div class="col-md-12" ng-if="!isEditActive" ng-bind-html="currentArticle.content | sanitize">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END TASK DESC -->
                                                <!-- TASK TAGS -->
                                                <div class="form-group">
                                                    <div class="col-md-12 todo-tasklist-item-title">Tags:</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control todo-taskbody-tags" placeholder="Tags..." ng-model="currentArticleTags"> </div>
                                                </div>

                                                <!-- TASK TAGS -->
                                                <div class="form-actions right todo-form-actions">
                                                    <button class="btn btn-circle btn-sm green">Save Changes</button>
                                                    <button class="btn btn-circle btn-sm btn-default">Cancel</button>
                                                </div>
                                            </div>
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs ">
                                                <li class="active">
                                                    <a href="#" data-target="#tab_1" data-toggle="tab"> Comments </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-target="#tab_2" data-toggle="tab"> History </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <!-- TASK COMMENTS -->
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <ul class="media-list">
                                                                <li class="media">
                                                                    <a class="pull-left" href="#">
                                                                        <img class="todo-userpic" src="{{settings.assetsPath}}/pages/media/users/avatar8.jpg" width="27px" height="27px"> </a>
                                                                    <div class="media-body todo-comment">
                                                                        <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
                                                                        <p class="todo-comment-head">
                                                                            <span class="todo-comment-username">Christina Aguilera</span> &nbsp;
                                                                            <span class="todo-comment-date">17 Sep 2014 at 2:05pm</span>
                                                                        </p>
                                                                        <p class="todo-text-color"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </p>
                                                                        <!-- Nested media object -->
                                                                        <div class="media">
                                                                            <a class="pull-left" href="#">
                                                                                <img class="todo-userpic" src="{{settings.assetsPath}}/pages/media/users/avatar4.jpg" width="27px" height="27px"> </a>
                                                                            <div class="media-body">
                                                                                <p class="todo-comment-head">
                                                                                    <span class="todo-comment-username">Carles Puyol</span> &nbsp;
                                                                                    <span class="todo-comment-date">17 Sep 2014 at 4:30pm</span>
                                                                                </p>
                                                                                <p class="todo-text-color"> Thanks so much my dear! </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="media">
                                                                    <a class="pull-left" href="#">
                                                                        <img class="todo-userpic" src="{{settings.assetsPath}}/pages/media/users/avatar5.jpg" width="27px" height="27px"> </a>
                                                                    <div class="media-body todo-comment">
                                                                        <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
                                                                        <p class="todo-comment-head">
                                                                            <span class="todo-comment-username">Andres Iniesta</span> &nbsp;
                                                                            <span class="todo-comment-date">18 Sep 2014 at 9:22am</span>
                                                                        </p>
                                                                        <p class="todo-text-color"> Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                                                                            at, tempus viverra turpis.
                                                                            <br> </p>
                                                                    </div>
                                                                </li>
                                                                <li class="media">
                                                                    <a class="pull-left" href="#">
                                                                        <img class="todo-userpic" src="{{settings.assetsPath}}/pages/media/users/avatar6.jpg" width="27px" height="27px"> </a>
                                                                    <div class="media-body todo-comment">
                                                                        <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-xs">&nbsp; Reply &nbsp;</button>
                                                                        <p class="todo-comment-head">
                                                                            <span class="todo-comment-username">Olivia Wilde</span> &nbsp;
                                                                            <span class="todo-comment-date">18 Sep 2014 at 11:50am</span>
                                                                        </p>
                                                                        <p class="todo-text-color"> Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate
                                                                            at, tempus viverra turpis.
                                                                            <br> </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- END TASK COMMENTS -->
                                                    <!-- TASK COMMENT FORM -->
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <ul class="media-list">
                                                                <li class="media">
                                                                    <a class="pull-left" href="#">
                                                                        <img class="todo-userpic" src="{{settings.assetsPath}}/pages/media/users/avatar4.jpg" width="27px" height="27px"> </a>
                                                                    <div class="media-body">
                                                                        <textarea class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Type comment..."></textarea>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <button type="button" class="pull-right btn btn-sm btn-circle green"> &nbsp; Submit &nbsp; </button>
                                                        </div>
                                                    </div>
                                                    <!-- END TASK COMMENT FORM -->
                                                </div>
                                                <div class="tab-pane" id="tab_2">
                                                    <ul class="todo-task-history">
                                                        <li>
                                                            <div class="todo-task-history-date"> 20 Jun, 2014 at 11:35am </div>
                                                            <div class="todo-task-history-desc"> Task created </div>
                                                        </li>
                                                        <li>
                                                            <div class="todo-task-history-date"> 21 Jun, 2014 at 10:35pm </div>
                                                            <div class="todo-task-history-desc"> Task category status changed to "Top Priority" </div>
                                                        </li>
                                                        <li>
                                                            <div class="todo-task-history-date"> 22 Jun, 2014 at 11:35am </div>
                                                            <div class="todo-task-history-desc"> Task owner changed to "Nick Larson" </div>
                                                        </li>
                                                        <li>
                                                            <div class="todo-task-history-date"> 30 Jun, 2014 at 8:09am </div>
                                                            <div class="todo-task-history-desc"> Task completed by "Nick Larson" </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
