<div class="todo-content">
    <div class="col-md-12">
        <br/>
    </div>
    <div class="portlet light">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption col-md-3 col-sm-12">
                <i class="icon-bar-chart font-green hide"></i>
                <span class="caption-helper">Manage:</span> &nbsp;
                <span class="caption-subject font-green bold uppercase">Articles</span>
            </div>
            <div class="col-md-6">
                <div class="col-md-3 text-center">
                    <input type="file" name="file" id="file" class="js-file-input inputfile" data-caption="{count} files selected"/>
                    <label for="file" class="btn btn-danger">Choose a file</label>

                </div>
                <div class="col-md-3 text-center">
                    <button class="btn btn-primary" ng-click="loadFile()">Upload</button>
                </div>
                <div class="col-md-3 text-center">
                    <button ng-class="{ 'disabled': !isFileLoaded}" class="btn center btn-success" ng-click="downloadFile()">Download</button>
                </div>
                <div class="col-md-3 text-center">
                    <button class="btn center btn-success" ng-click="flushDocs()">Delete All</button>
                </div>
            </div>

            <div class="actions col-md-3 col-sm-12">
                <div class="btn-group pull-right">
                    <div class="btn green btn-circle btn-sm" ng-click="setupNewArticle()">New Article</div>
                </div>
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div ng-show="articles.length" class="portlet-body">
            <div class="row">
                <div class="col-md-3 col-sm-0">
                </div>
                <content-search data-get-content="getArticles(val)" data-current-content="currentArticle" data-content-type="article" data-label-attr="title"></content-search>
                <div class="col-md-3 col-sm-0">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div style="min-height: 600px;">
                        <div class="col-md-12 text-center">
                            <uib-pagination boundary-links="true" total-items="totalArticles" ng-change="changePage()" num-pages="numPages" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                        <div class="todo-tasklist">
                            <div ng-repeat="article in articles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <div class="todo-tasklist-item todo-tasklist-item-border-green" ng-click="changeCurrentArticle($index)">
                                    <div class="todo-tasklist-item-title">
                                      {{article.title}}
                                    </div>
                                    <div class="divider"></div>
                                    <div class="todo-tasklist-item-text"> {{article.description}} </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                        <span class="todo-tasklist-badge badge badge-roundless">by {{article.author}}</span>
                                    </div>

                                </div>
                                <br/>
                            </div>
                            <div ng-show="!articles.length">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-6">
                                    Upload JSON file to view its articles
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <uib-pagination boundary-links="true" total-items="totalArticles" ng-change="changePage()" num-pages="numPages" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
                <div class="todo-tasklist-devider"> </div>
                <div class="portlet light col-md-7 col-sm-8">
                    <div style="min-height: 600px;">
                        <form action="#" class="form-horizontal">
                            <!-- TASK HEAD -->
                            <div class="form">
                                <div class="form-group">
                                    <div class="todo-tasklist-item-title col-md-12">Author:</div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article Author..." ng-model="currentArticle.author">
                                    </div>
                                </div>
                                <!-- END TASK HEAD -->
                                <!-- TASK TITLE -->
                                <div>
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">Title:</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article Title..." ng-model="currentArticle.title">
                                        </div>
                                    </div>
                                    <!-- TASK DESC -->
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">Content:
                                        </div>
                                        <div class="col-md-12">
                                            <summernote height="300" ng-model="currentArticle.content" placeholder="Article Content..."></summernote>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">
                                        Description
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article Description" ng-model="currentArticle.description">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">
                                        Link
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article Link" ng-model="currentArticle.link">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">
                                        Main image URL:
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article Image URL" ng-model="currentArticle.imgURL">
                                        </div>
                                        <upload data-current="currentArticle"></upload>

                                    </div>
                                    <page-search data-current-content="currentArticle"></page-search>
                                    <h6>Page won't be saved in db</h6>

                                    <!-- END TASK DESC -->
                                    <!-- TASK TAGS -->
                                    <div class="form-group">
                                      <div class="todo-tasklist-item-title col-md-12">
                                      Tags:
                                      </div>
                                      <duv class="col-md-12">
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article Tags" ng-model="currentArticle.tags">
                                      </duv>
                                    </div>

                                    <!-- TASK TAGS -->
                                    <div class="form-actions right todo-form-actions">
                                        <button class="btn btn-circle btn-sm btn-danger" ng-click="publishArticle($event, $index)">Publish</button>
                                        <button class="btn btn-circle btn-sm green" ng-click="saveCurrentArticle($event)">Save Changes</button>
                                        <button class="btn btn-circle btn-sm btn-default" ng-click="deleteCurrentArticle($event)">Delete article</button>
                                    </div>
                                </div>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
