<div class="todo-content">
    <div class="portlet light">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption col-md-3 col-sm-12">
                <i class="icon-bar-chart font-green hide"></i>
                <span class="caption-helper">Manage:</span> &nbsp;
                <span class="caption-subject font-green bold uppercase">Articles</span>
            </div>
            <content-search data-get-content="getArticles(val)" data-current-content="currentArticle" data-content-type="article" data-label-attr="title"></content-search>
            <div class="actions col-md-3 col-sm-12">
                <div class="btn-group pull-right">
                    <div class="btn green btn-circle btn-sm" ng-click="setupNewArticle()">New Article</div>
                </div>
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div style="max-height: 600px; overflow: auto;">
                        <div class="todo-tasklist" infinite-scroll="nextArticles()" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
                            <div ng-repeat="article in articles">
                                <div class="todo-tasklist-item todo-tasklist-item-border-green" ng-click="changeCurrentArticle($index)">
                                    <div class="todo-tasklist-item-title">
                                      <img class="todo-userpic" ng-src="{{::article.page.image}}" width="27px" height="27px" >{{::article.title}}
                                    </div>
                                    <div class="divider"></div>
                                    <div class="todo-tasklist-item-text"> {{::article.description}} </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                            <i class="fa fa-thumbs-o-up"></i> {{::article.likes.length}} </span>
                                        <span class="todo-tasklist-badge badge badge-roundless">by {{::article.page.displayName}}</span>
                                    </div>

                                </div>
                                <br/>
                            </div>
                            <div ng-show="busy" class="text-center">Loading ...</div>
                        </div>
                    </div>
                </div>
                <div class="todo-tasklist-devider"> </div>
                <div class="portlet light col-md-7 col-sm-8">
                    <div style="min-height: 600px;">
                        <form action="#" class="form-horizontal">
                            <!-- TASK HEAD -->
                            <div class="form">
                                <div class="form-group">
                                    <div class="col-md-12 media">
                                          <a class="pull-left" href="#">
                                              <img class="todo-userpic" src="{{currentArticle.page.image}}" width="27px" height="27px"> </a>
                                          <div class="media-body todo-comment">
                                              <p class="todo-comment-head">
                                                  <span class="todo-comment-username">{{currentArticle.page.displayName}}</span> &nbsp;
                                                  <span class="todo-comment-date">{{ currentArticle.created | formatTime }}</span>
                                              </p>
                                          </div>
                                    </div>
                                </div>
                                <!-- END TASK HEAD -->
                                <!-- TASK TITLE -->
                                <div>
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">Title:</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article Title..." ng-model="currentArticle.title">
                                        </div>
                                    </div>
                                    <!-- TASK DESC -->
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">Content:
                                        </div>
                                        <div class="col-md-12">
                                        <summernote height="300" ng-model="currentArticle.content" placeholder="Article Content..."></summernote>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">
                                        Main image URL:
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article Image URL" ng-model="currentArticle.imgUrl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="todo-tasklist-item-title col-md-12">
                                        Article Link:
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Article link" ng-model="currentArticle.link">
                                        </div>
                                    </div>
                                    <!-- END TASK DESC -->
                                    <!-- TASK TAGS -->
                                    <div class="form-group">
                                      <div class="todo-tasklist-item-title col-md-12">
                                      Tags:
                                      </div>
                                      <div class="col-md-12">
                                        <content-tags data-current-type="currentType" data-current-content="currentArticle" data-current-type-name="'articles'"></content-tags>
                                      </div>
                                    </div>

                                    <!-- TASK TAGS -->
                                    <div class="form-actions right todo-form-actions">
                                        <img ng-if="ajaxInProcess" src="assets/images/reload.gif" class="btn-sm">
                                        <span ng-if="ajaxComplete" class="alert" ng-class="ajaxState !== 'Success' ? 'alert-danger' : 'alert-success' ">{{ajaxState}}</span>
                                        <button class="btn btn-circle btn-sm green" ng-click="saveCurrentArticle($event)">Save changes</button>
                                        <button class="btn btn-circle btn-sm btn-default" ng-click="deleteCurrentArticle($event)">Delete</button>
                                    </div>
                                </div>
                                <comments data-current-type="currentType" data-current="currentArticle"></comments>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
