<div class="todo-content">
    <div class="portlet light">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption col-md-3 col-sm-12">
                <i class="icon-bar-chart font-green hide"></i>
                <span class="caption-helper">Manage:</span> &nbsp;
                <span class="caption-subject font-green bold uppercase">Experts</span>
            </div>
            <content-search data-get-content="getExperts(val)" data-current-content="currentExpert" data-content-type="expert" data-label-attr="_company.name"></content-search>
            <div class="actions col-md-3 col-sm-12">
                <div class="btn-group pull-right">
                    <div class="btn green btn-circle btn-sm" ng-click="setupNewexpert()">New expert</div>
                </div>
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div style="min-height: 600px;">
                        <div class="col-md-12 text-center">
                            <uib-pagination boundary-links="true" total-items="totalExperts" ng-change="changePage()" num-pages="numPages" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                        <div class="todo-tasklist">
                            <div ng-repeat="expert in experts">
                                <div class="todo-tasklist-item todo-tasklist-item-border-green" ng-click="changeCurrentExpert($index)">
                                    <div class="todo-tasklist-item-title">
                                      <img class="todo-userpic" ng-src="{{expert.image}}" width="27px" height="27px" >{{expert.title}}
                                    </div>
                                    <div class="divider"></div>
                                    <div class="todo-tasklist-item-text"> {{expert['_company.about'] | oneFifty }} </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                        <span class="todo-tasklist-badge badge badge-roundless">by {{expert.displayName}}</span>
                                    </div>

                                </div>
                                <br/>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <uib-pagination boundary-links="true" total-items="totalExperts" ng-change="changePage()" num-pages="numPages" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                    <div ng-show="!experts.length">
                        <div class="col-md-12">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                            Loading experts...
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="todo-tasklist-devider"> </div>
                <div class="portlet light col-md-7 col-sm-8">
                    <div style="min-height: 600px;">
                      <div class="form" style="overflow: auto">
                        <div class="form-group">
                          <div class="col-md-12 media">
                            <a class="pull-left" href="#">
                            <img class="todo-userpic" src="{{currentExpert.image}}" width="27px" height="27px">
                            </a>
                            <div class="media-body todo-comment">
                              <p class="todo-comment-head">
                                  <span class="todo-comment-username">{{currentExpert.title}} by {{currentExpert.displayName}}</span> &nbsp;
                              </p>
                            </div>
                          </div>
                          <div class="col-md-12">{{currentExpert['_company.about']}}</div>
                        </div>
                      </div>
                      <br/>
                      <div class="col-md-12">
                        <uib-accordion close-others="oneAtATime">
                          <uib-accordion-group heading={{project.title}} ng-repeat="project in currentExpert.projects"></uib-accordion-group>
                        </uib-accordion>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
