<div class="todo-content">
    <div class="portlet light">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption col-md-3 col-sm-12">
                <i class="icon-bar-chart font-green hide"></i>
                <span class="caption-helper">Manage:</span> &nbsp;
                <span class="caption-subject font-green bold uppercase">Experts</span>
            </div>
            <content-search data-get-content="getExperts(val)" data-current-content="currentExpert" data-content-type="expert" data-label-attr="_company.name"></content-search>
            <div class="actions col-md-3 col-sm-12">
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div style="min-height: 600px;">
                        <div class="col-md-12 text-center">
                            <uib-pagination boundary-links="true" total-items="totalExperts" ng-change="changePage()" num-pages="numPages" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                        <div class="todo-tasklist">
                            <div ng-repeat="expert in experts">
                                <div class="todo-tasklist-item todo-tasklist-item-border-green" ng-click="changeCurrentExpert($index)">
                                    <div class="todo-tasklist-item-title">
                                      <img class="todo-userpic" ng-src="{{expert.image}}" width="27px" height="27px" >{{expert.title}}
                                    </div>
                                    <div class="divider"></div>
                                    <div class="todo-tasklist-item-text"> {{expert['_company.about'] | oneFifty }} </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                        <span class="todo-tasklist-badge badge badge-roundless">by {{expert.displayName}}</span>
                                    </div>

                                </div>
                                <br/>
                            </div>
                        </div>
                        <div ng-show="!experts.length">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                Loading experts...
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <uib-pagination boundary-links="true" total-items="totalExperts" ng-change="changePage()" num-pages="numPages" rotate="false" items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
                <div class="todo-tasklist-devider"> </div>
                <div class="portlet light col-md-7 col-sm-8">
                    <div style="min-height: 600px;">
                      <div class="form" style="overflow: auto">
                        <div class="form-group">
                          <div class="col-md-12 media">
                            <a class="pull-left" href="#">
                            <img class="todo-userpic" src="{{currentExpert.image}}" width="27px" height="27px">
                            </a>
                            <div class="media-body todo-comment">
                              <p class="todo-comment-head">
                                  <span class="todo-comment-username">{{currentExpert.title}} by {{currentExpert.displayName}}</span> &nbsp;
                              </p>
                            </div>
                          </div>
                          <div class="col-md-12">{{currentExpert['_company.about']}}</div>
                        </div>
                      </div>
                      <br/>
                      <div class="todo-tasklist-item-title col-md-12">Projects:</div>
                      <div class="col-md-12">
                        <uib-accordion close-others="true">
                          <uib-accordion-group heading={{project.title}} ng-repeat="project in currentExpert.projects">
                            <div>
                              <div style="overflow: auto" class="form-group">
                                <div class="todo-tasklist-item-title col-md-12">Title:</div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Project Title..." ng-model="project.title">
                                </div>
                              </div>
                              <div style="overflow: auto" class="form-group margin-top-15">
                                <div class="todo-tasklist-item-title col-md-12">Description:</div>
                                <div class="col-md-12">
                                    <textarea rows="8" class="form-control todo-taskbody-tasktitle" placeholder="Project Description..." ng-model="project.description"></textarea>
                                </div>
                              </div>
                              <div>
                                <uib-carousel active="false"  no-wrap="noWrapSlides">
                                  <uib-slide ng-repeat="slide in project.images">
                                    <img ng-src="{{slide.url}}" style="margin:auto;">
                                    <div class="carousel-caption">
                                      <p>{{slide.title}}</p>
                                    </div>
                                  </uib-slide>
                                </uib-carousel>
                              </div>

                              <div style="overflow: auto" class="form-group margin-top-15">
                                <div class="todo-tasklist-item-title col-md-12">Style:</div>
                                <div class="col-md-12">
                                    <input class="form-control todo-taskbody-tasktitle" placeholder="Project style..." ng-model="project.style">
                                </div>
                              </div>
                              <div style="overflow: auto" class="form-group margin-top-15">
                                  <div class="todo-tasklist-item-title col-md-2">Duration:</div>
                                  <div class="col-md-2">
                                      <input class="form-control todo-taskbody-tasktitle" placeholder="Project duration..." ng-model="project.duration">
                                  </div>
                                  <div class="col-md-1">
                                  </div>
                                  <div class="todo-tasklist-item-title col-md-2">Location:</div>
                                  <div class="col-md-5">
                                      <input class="form-control todo-taskbody-tasktitle" placeholder="Project Location..." ng-model="project.location">
                                  </div>
                              </div>
                              <div class="form-actions col-md-12 text-right right todo-form-actions margin-top-15">
                                  <button class="btn btn-circle btn-sm green" ng-click="saveCurrentProject($event, $index)">Save Changes</button>
                                  <button class="btn btn-circle btn-sm btn-default" ng-click="deleteCurrentProject($event, $index)">Delete</button>
                              </div>
                              <comments data-current="project"></comments>
                            </div>
                          </uib-accordion-group>
                        </uib-accordion>
                        <div ng-show="!currentExpert.projects.length">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                </div>
                                <div ng-if="!gettingProjects" class="col-md-6">
                                No projects to show
                                </div>
                                <div ng-if="gettingProjects" class="col-md-6">
                                Loading projects...
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>

                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
