<div class="todo-content">
    <div class="portlet light">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption col-md-3 col-sm-12">
                <i class="icon-bar-chart font-green hide"></i>
                <span class="caption-helper">Manage:</span> &nbsp;
                <span class="caption-subject font-green bold uppercase">Images</span>
            </div>
            <content-search data-get-content="getImages(val)" data-current-content="currentImage" data-content-type="image" data-label-attr="title"></content-search>
            <div class="actions col-md-3 col-sm-12">
                <div class="btn-group pull-right">
                    <div class="btn green btn-circle btn-sm" ng-click="setupNewImage()">New Image</div>
                </div>
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div style="max-height: 600px; overflow: auto">
                        <div class="todo-tasklist" infinite-scroll="nextImages()" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
                            <div ng-repeat="image in images">
                                <div class="todo-tasklist-item todo-tasklist-item-border-green" ng-click="changeCurrentImage($index)">
                                    <div class="todo-tasklist-item-title">
                                      <img class="todo-userpic" ng-src="{{::image.page.image}}" width="27px" height="27px" >{{::image.title}}
                                    </div>
                                    <div class="divider"></div>
                                    <div class="todo-tasklist-item-text text-center">
                                    <img ng-src="{{::image.url}}" width="90px" height="90px" >
                                    </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                            <i class="fa fa-thumbs-o-up"></i> {{::image.likes.length}} </span>
                                        <span class="todo-tasklist-badge badge badge-roundless">{{::image.category[0]}}</span>
                                        <span class="todo-tasklist-badge badge badge-roundless">by {{::image.page.displayName}}</span>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <div ng-show="busy" class="text-center">Loading ...</div>
                        </div>
                    </div>
                </div>
                <div class="todo-tasklist-devider"> </div>
                <div class="portlet light col-md-7 col-sm-8">
                    <div style="min-height: 600px;">
                        <form action="#" class="form-horizontal">
                            <!-- TASK HEAD -->
                            <div class="form">
                                <div class="form-group">
                                  <div class="col-md-12 media">
                                        <a class="pull-left" href="#">
                                            <img class="todo-userpic" src="{{currentImage.page.image}}" width="27px" height="27px"> </a>
                                        <div class="media-body todo-comment">
                                            <p class="todo-comment-head">
                                                <span class="todo-comment-username">{{currentImage.page.displayName}}</span> &nbsp;
                                                <span class="todo-comment-date">{{ currentImage.created | formatTime }}</span>
                                            </p>
                                        </div>
                                  </div>
                                </div>
                                <!-- END TASK HEAD -->
                                <!-- TASK TITLE -->

                                <div class="form-group">
                                    <div class="col-md-12">
                                    <div class="todo-tasklist-item-title">Category:
                                    </div>
                                    <div>
                                      <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Image Category" ng-model="currentImage.category[0]">
                                      <br/>
                                    </div>
                                    </div>
                                    <div class="todo-tasklist-item-title col-md-12">Title:</div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Image Title..." ng-model="currentImage.title">
                                    </div>
                                </div>
                                <!-- TASK DESC -->
                                <div class="form-group">
                                    <div class="todo-tasklist-item-title col-md-12">Image:
                                    </div>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Image Url" ng-model="currentImage.url">
                                      <br/>
                                      <img ng-src="{{currentImage.url}}" title="{{currentImage.title}}"/>
                                    </div>
                                </div>
                                <!-- END TASK DESC -->
                                <!-- TASK TAGS -->
                                <div class="form-group">
                                  <div class="todo-tasklist-item-title col-md-12">
                                  Tags:
                                  </div>
                                  <duv class="col-md-12">
                                    <content-tags data-current-content="currentArticle"></content-tags>
                                  </duv>
                                </div>
                                <!-- TASK TAGS -->
                                <div class="form-actions right todo-form-actions">
                                    <button class="btn btn-circle btn-sm green" ng-click="saveCurrentImage($event)">Save Changes</button>
                                    <button class="btn btn-circle btn-sm btn-default" ng-click="deleteCurrentImage($event)">Delete image</button>
                                </div>
                                <comments data-current="currentImage"></comments>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
