<div class="todo-content">
    <div class="portlet light">
        <!-- PROJECT HEAD -->
        <div class="portlet-title">
            <div class="caption col-md-3 col-sm-12">
                <i class="icon-bar-chart font-green hide"></i>
                <span class="caption-helper">Manage:</span> &nbsp;
                <span class="caption-subject font-green bold uppercase">Products</span>
            </div>
            <content-search data-get-content="getProducts(val)" data-current-content="currentProduct" data-content-type="product" data-label-attr="title"></content-search>
            <div class="actions col-md-3 col-sm-12">
                <div class="btn-group pull-right">
                    <div class="btn green btn-circle btn-sm" ng-click="setupNewProduct()">New Product</div>
                </div>
            </div>
        </div>
        <!-- end PROJECT HEAD -->
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div style="min-height: 600px;">
                        <div class="todo-tasklist">
                            <div ng-repeat="product in products">
                                <div class="todo-tasklist-item todo-tasklist-item-border-green" ng-click="changeCurrentProduct($index)">
                                    <div class="todo-tasklist-item-title">                                    <img class="todo-userpic" ng-src="{{::product.page.image}}" width="27px" height="27px">{{::product.title}} </div>
                                    <div class="divider"></div>
                                    <div class="todo-tasklist-item-text"> {{::product.desc | oneFifty}} </div>
                                    <div class="todo-tasklist-controls pull-left">
                                        <span class="todo-tasklist-date">
                                            <i class="fa fa-thumbs-o-up"></i> {{::product.likes.length}} </span>
                                        <span class="todo-tasklist-badge badge badge-roundless">{{::product.price_curr}}</span>
                                        <span class="todo-tasklist-badge badge badge-roundless">by {{::product.page.displayName}}</span>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="todo-tasklist-devider"> </div>
                <div class="portlet light col-md-7 col-sm-8">
                    <div style="min-height: 600px;">
                        <form action="#" class="form-horizontal">
                            <!-- TASK HEAD -->
                            <div class="form">
                                <!-- END TASK HEAD -->
                                <!-- TASK TITLE -->
                                <div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <div class="todo-tasklist-item-title">
                                             <img class="todo-userpic" ng-src="{{currentProduct.page.image}}" width="27px" height="27px"> {{currentProduct.page.displayName}}
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <div class="todo-tasklist-item-title">Title:</div>
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Product Title..." ng-model="currentProduct.title">
                                        </div>
                                    </div>
                                    <!-- TASK DESC -->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <div class="todo-tasklist-item-title">Description:</div>
                                            <textarea class="form-control todo-taskbody-taskdesc" ng-model="currentProduct.desc" rows="8" placeholder="Product Description..."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <span class="todo-tasklist-item-title">Current Price:</span>
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Current Price..." ng-model="currentProduct.price_curr">
                                        </div>
                                        <div class="col-md-6">
                                            <span class="todo-tasklist-item-title">Currency:</span>
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Currency" ng-model="currentProduct.currency">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <span class="todo-tasklist-item-title">Published:</span>
                                            <input type="checkbox" ng-model="currentProduct.published">
                                        </div>
                                        <div class="col-md-3">
                                            <span class="todo-tasklist-item-title">Top Seller:</span>
                                            <input type="checkbox" ng-model="currentProduct.topSeller">
                                        </div>
                                        <div class="col-md-3">
                                            <span class="todo-tasklist-item-title">Sold Out:</span>
                                            <input type="checkbox" ng-model="currentProduct.soldOut">
                                        </div>
                                        <div class="col-md-3">
                                            <span class="todo-tasklist-item-title">On Sale:</span>
                                            <input type="checkbox" ng-model="currentProduct.onSale">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <span class="todo-tasklist-item-title">Price Min:</span>
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="..." ng-model="currentProduct.priceMin">
                                        </div>
                                        <div class="col-md-3">
                                            <span class="todo-tasklist-item-title">Price Max:</span>
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="..." ng-model="currentProduct.priceMax">
                                        </div>
                                        <div class="col-md-3">
                                            <span class="todo-tasklist-item-title">MRP Min:</span>
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="..." ng-model="currentProduct.mrpMin">
                                        </div>
                                        <div class="col-md-3">
                                            <span class="todo-tasklist-item-title">MRP Max:</span>
                                            <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="..." ng-model="currentProduct.mrpMax">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <span class="todo-tasklist-item-title">Image:
                                          </span>
                                          <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Image Url" ng-model="currentProduct.imgUrl">
                                          <br/>
                                          <img ng-src="{{currentProduct.imgUrl}}" title="{{currentProduct.title}}"/>
                                        </div>

                                    </div>
                                    <!-- END TASK DESC -->
                                    <!-- TASK TAGS -->
                                    <div class="form-group">
                                      <div class="todo-tasklist-item-title col-md-12">
                                      Tags:
                                      </div>
                                      <duv class="col-md-12">
                                        <content-tags data-current-content="currentArticle"></content-tags>
                                      </duv>
                                    </div>

                                    <!-- TASK TAGS -->
                                    <div class="form-actions right todo-form-actions">
                                        <button class="btn btn-circle btn-sm green" ng-click="saveCurrentProduct($event)">Save Changes</button>
                                        <button class="btn btn-circle btn-sm btn-default" ng-click="deleteCurrentProduct($event)">Delete product</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#" data-target="#tab_1" data-toggle="tab"> Comments </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <!-- TASK COMMENTS -->
                                        <div class="form-group" ng-if="currentProduct.comments.length">
                                            <div class="col-md-12">
                                                <ul class="media-list">
                                                    <li class="media" ng-repeat="comment in currentProduct.comments">
                                                        <a class="pull-left" href="#">
                                                            <img class="todo-userpic" src="{{comment.page.image}}" width="27px" height="27px"> </a>
                                                        <div class="media-body todo-comment">
                                                            <p class="todo-comment-head">
                                                                <span class="todo-comment-username">{{comment.page.displayName}}</span> &nbsp;
                                                                <span class="todo-comment-date">17 Sep 2014 at 2:05pm</span>
                                                            </p>
                                                            <p class="todo-text-color"> {{comment.text}} </p>
                                                        </div>
                                                    </li>
                                                    </ul>
                                            </div>

                                        </div>
                                        <!-- END TASK COMMENTS -->
                                        <!-- TASK COMMENT FORM -->
                                        <div class="form-group" ng-if="!currentProduct.comments.length">
                                            <div class="col-md-12">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="media-body">
                                                        No comments to show
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <a class="pull-left" href="#">
                                                            <img class="todo-userpic" src="{{settings.assetsPath}}/pages/media/users/avatar4.jpg" width="27px" height="27px"> </a>
                                                        <div class="media-body">
                                                            <textarea class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Type comment..."></textarea>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <button type="button" class="pull-right btn btn-sm btn-circle green"> &nbsp; Submit &nbsp; </button>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- END TASK COMMENT FORM -->
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
