.margin-left--15 {
  margin-left: 15px; }

.margin-right-15 {
  margin-right: 15px; }

.col2-dashboard {
  width: 100px !important;
  margin-left: -100px !important; }

.overflow--auto {
  overflow: auto; }
